Repository wanted-preonboarding-team-m/02_geoRecommendEats, pull requests merged in 2023-11, with the labels that each got.

#7 Feature/#4 데이터 파이프라인 구축
  build.gradle
  src/main/java/com/wanted/domain/restaurant/constant/FoodType.java
  src/main/java/com/wanted/domain/restaurant/constant/NullProcessingValue.java
  src/main/java/com/wanted/domain/restaurant/dao/RestaurantRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/employee/RestaurantEmployeeRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/facility/RestaurantFacilityRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/hygiene/RestaurantHygieneRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/location/RestaurantLocationRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/site/RestaurantSiteRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/type/RestaurantTypeRepository.java
  src/main/java/com/wanted/domain/restaurant/dao/workplace/RestaurantWorkplaceRepository.java
  src/main/java/com/wanted/domain/restaurant/dto/employee/response/EmployeeResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/facility/response/FacilityResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/hygiene/response/HygieneResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/location/response/CsvResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/location/response/LocationResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/site/response/SiteResponseDto.java
  src/main/java/com/wanted/domain/restaurant/dto/workplace/response/WorkPlaceResponseDto.java
  src/main/java/com/wanted/domain/restaurant/entity/Restaurant.java
  src/main/java/com/wanted/domain/restaurant/entity/employee/RestaurantEmployee.java
  src/main/java/com/wanted/domain/restaurant/entity/facility/RestaurantFacility.java
  src/main/java/com/wanted/domain/restaurant/entity/hygiene/RestaurantHygiene.java
  src/main/java/com/wanted/domain/restaurant/entity/location/RestaurantLocation.java
  src/main/java/com/wanted/domain/restaurant/entity/site/RestaurantSite.java
  src/main/java/com/wanted/domain/restaurant/entity/type/RestaurantType.java
  src/main/java/com/wanted/domain/restaurant/entity/workplace/RestaurantWorkplace.java
  src/main/java/com/wanted/domain/restaurant/openapi/RestaurantDataInitializer.java
  src/main/java/com/wanted/domain/restaurant/openapi/config/RestTemplateConfig.java
  src/main/java/com/wanted/domain/restaurant/openapi/dao/RestaurantDataDBInserter.java
  src/main/java/com/wanted/domain/restaurant/openapi/dto/RestaurantOpenApiData.java
  src/main/java/com/wanted/domain/restaurant/openapi/pipeline/RestaurantDataPipeline.java
  src/main/java/com/wanted/domain/restaurant/utils/CsvFactory.java
  src/main/java/com/wanted/domain/restaurant/utils/CsvReader.java
  src/main/java/com/wanted/domain/restaurant/utils/CsvSaveDto.java
  src/main/java/com/wanted/global/config/error/ErrorCode.java
  src/main/resources/application.yml
  src/main/resources/sgg_lat_lon.csv
  src/test/java/com/wanted/domain/restaurant/utils/CsvTest.java
  src/test/resources/sgg_lat_lon.csv
Labels: ✨ Feature, 🥰 Accessibility, 📬 API

#11 Feature/#6 user관련 entity 및 dao 생성
  src/main/java/com/wanted/domain/user/dao/UserRepository.java
  src/main/java/com/wanted/domain/user/dao/location/UserLocationRepository.java
  src/main/java/com/wanted/domain/user/entity/User.java
  src/main/java/com/wanted/domain/user/entity/location/UserLocation.java
  src/main/java/com/wanted/global/config/jpa/JpaConfig.java
  src/main/resources/application.yml
Labels: ✨ Feature

#12 #10 파이프라인 리팩토링
  src/main/java/com/wanted/domain/restaurant/entity/Restaurant.java
  src/main/java/com/wanted/domain/restaurant/entity/employee/RestaurantEmployee.java
  src/main/java/com/wanted/domain/restaurant/entity/facility/RestaurantFacility.java
  src/main/java/com/wanted/domain/restaurant/entity/hygiene/RestaurantHygiene.java
  src/main/java/com/wanted/domain/restaurant/entity/location/RestaurantLocation.java
  src/main/java/com/wanted/domain/restaurant/entity/site/RestaurantSite.java
  src/main/java/com/wanted/domain/restaurant/entity/type/RestaurantType.java
  src/main/java/com/wanted/domain/restaurant/entity/workplace/RestaurantWorkplace.java
  src/main/java/com/wanted/global/config/oepnapi/RestTemplateConfig.java
  src/main/java/com/wanted/global/error/BusinessException.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/java/com/wanted/global/error/ExceptionAdvice.java
  src/main/java/com/wanted/global/external/openapi/restaurant/RestaurantDataInitializer.java
  src/main/java/com/wanted/global/external/openapi/restaurant/dao/RestaurantDataDBInserter.java
  src/main/java/com/wanted/global/external/openapi/restaurant/pipeline/RestaurantDataPipeline.java
  src/main/java/com/wanted/global/util/csv/CsvFactory.java
  src/main/java/com/wanted/global/util/csv/CsvReader.java
  src/main/java/com/wanted/global/util/csv/CsvSaveDto.java
  src/main/java/com/wanted/global/util/format/response/ApiResponse.java
  src/main/resources/application.yml
Labels: 🐞 BugFix, 🚨 Emergency, 🔨 Refactor

#14 Feature/#13 회원가입 기능 구현
  .gitignore
  build.gradle
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/member.adoc
  src/main/java/com/wanted/domain/auth/api/AuthController.java
  src/main/java/com/wanted/domain/auth/application/AuthService.java
  src/main/java/com/wanted/domain/member/dao/MemberRepository.java
  src/main/java/com/wanted/domain/member/dao/location/MemberLocationRepository.java
  src/main/java/com/wanted/domain/member/dto/request/MemberSignUpReqDto.java
  src/main/java/com/wanted/domain/member/entity/Member.java
  src/main/java/com/wanted/domain/member/entity/location/MemberLocation.java
  src/main/java/com/wanted/domain/user/dao/UserRepository.java
  src/main/java/com/wanted/domain/user/dao/location/UserLocationRepository.java
  src/main/java/com/wanted/global/config/security/SecurityConfig.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/java/com/wanted/config/restdocs/AbstractRestDocsTests.java
  src/test/java/com/wanted/domain/auth/api/AuthControllerTest.java
  src/test/java/com/wanted/domain/auth/application/AuthServiceTest.java
  src/test/java/com/wanted/domain/member/MemberTestHelper.java
  src/test/java/com/wanted/domain/member/dao/MemberRepositoryTest.java
  src/test/java/com/wanted/global/utils/csv/CsvTest.java
Labels: ✨ Feature, 📬 API

#22 Refactor/#15 restaurant data pipeline 리팩토링
  src/main/java/com/wanted/domain/restaurant/entity/location/RestaurantLocation.java
  src/main/java/com/wanted/global/external/openapi/restaurant/RestaurantDataInitializer.java
  src/main/java/com/wanted/global/external/openapi/restaurant/dao/RestaurantDataDBInserter.java
  src/main/java/com/wanted/global/external/openapi/restaurant/dto/RestaurantOpenApiData.java
  src/main/java/com/wanted/global/external/openapi/restaurant/pipeline/RestaurantDataPipeline.java
Labels: 🐞 BugFix, 🔨 Refactor

#20 Feature/#19 시구군 전체 데이터 조회
  src/main/java/com/wanted/domain/restaurant/api/location/LocationController.java
  src/main/java/com/wanted/domain/restaurant/application/location/LocationService.java
  src/main/java/com/wanted/global/util/csv/CsvSaveDto.java
  src/test/java/com/wanted/global/utils/csv/CsvTest.java
Labels: ✨ Feature, 📬 API

#24 Feature/#21 맛집 목록 조회 기능 구현
  src/main/java/com/wanted/domain/restaurant/api/RestaurantController.java
  src/main/java/com/wanted/domain/restaurant/application/RestaurantService.java
  src/main/java/com/wanted/domain/restaurant/dao/RestaurantRepository.java
  src/main/java/com/wanted/domain/restaurant/dto/restaurant/response/RestaurantRecomResDto.java
  src/main/java/com/wanted/domain/restaurant/entity/Restaurant.java
  src/test/java/com/wanted/domain/restaurant/api/RestaurantControllerTest.java
  src/test/java/com/wanted/domain/restaurant/dao/RestaurantRepositoryTest.java
Labels: ✨ Feature, 🥰 Accessibility, 📬 API

#23 Feature/#16 jwt 기반 로그인 로그아웃 구현
  build.gradle
  src/docs/asciidoc/member.adoc
  src/main/java/com/wanted/domain/auth/api/AuthController.java
  src/main/java/com/wanted/domain/auth/application/AuthService.java
  src/main/java/com/wanted/domain/auth/application/security/CustomAuthenticationProvider.java
  src/main/java/com/wanted/domain/auth/application/security/CustomUserDetailsService.java
  src/main/java/com/wanted/domain/auth/dao/token/RefreshTokenRepository.java
  src/main/java/com/wanted/domain/auth/entity/token/RefreshToken.java
  src/main/java/com/wanted/domain/member/dto/request/MemberLoginReqDto.java
  src/main/java/com/wanted/domain/member/dto/request/MemberSignUpReqDto.java
  src/main/java/com/wanted/domain/member/entity/Authority.java
  src/main/java/com/wanted/domain/member/entity/Member.java
  src/main/java/com/wanted/global/config/security/SecurityConfig.java
  src/main/java/com/wanted/global/config/security/TokenProvider.java
  src/main/java/com/wanted/global/config/security/data/TokenDto.java
  src/main/java/com/wanted/global/config/security/data/TokenReqDto.java
  src/main/java/com/wanted/global/config/security/filter/JwtFilter.java
  src/main/java/com/wanted/global/config/security/handler/CustomAccessDeniedHandler.java
  src/main/java/com/wanted/global/config/security/handler/CustomAuthenticationEntryPoint.java
  src/main/java/com/wanted/global/config/security/utils/SecurityUtil.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/java/com/wanted/GeoRecommendEatsApplicationTests.java
  src/test/java/com/wanted/config/restdocs/AbstractRestDocsTests.java
  src/test/java/com/wanted/domain/auth/api/AuthControllerTest.java
  src/test/java/com/wanted/domain/member/MemberTestHelper.java
Labels: ✨ Feature, 📬 API

#27 feat(RestaurantDataInitializer): 스케쥴러 적용
  src/main/java/com/wanted/global/external/openapi/restaurant/RestaurantDataInitializer.java
Labels: ✨ Feature

#31 Feature/#28 사용자 위치 업데이트 및 정보 반환 기능 구현
  src/docs/asciidoc/member.adoc
  src/main/java/com/wanted/domain/member/api/MemberController.java
  src/main/java/com/wanted/domain/member/application/MemberService.java
  src/main/java/com/wanted/domain/member/dao/MemberRepository.java
  src/main/java/com/wanted/domain/member/dto/request/MemberLocationUpdateReqDto.java
  src/main/java/com/wanted/domain/member/dto/response/MemberInfoResDto.java
  src/main/java/com/wanted/domain/member/dto/response/MemberLocationResDto.java
  src/main/java/com/wanted/domain/member/entity/Member.java
  src/main/java/com/wanted/domain/member/entity/location/MemberLocation.java
  src/main/java/com/wanted/global/config/security/TokenProvider.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/resources/static/index.html
  src/test/java/com/wanted/config/restdocs/AbstractRestDocsTests.java
  src/test/java/com/wanted/domain/auth/api/AuthControllerTest.java
  src/test/java/com/wanted/domain/member/MemberTestHelper.java
  src/test/java/com/wanted/domain/member/api/MemberControllerTest.java
Labels: ✨ Feature, 📬 API

#30 Feature/#25 맛집 상세정보 조회
  src/docs/asciidoc/location.adoc
  src/docs/asciidoc/restaurant.adoc
  src/main/java/com/wanted/domain/restaurant/api/RestaurantController.java
  src/main/java/com/wanted/domain/restaurant/application/RestaurantService.java
  src/main/java/com/wanted/domain/restaurant/dao/RestaurantRepository.java
  src/main/java/com/wanted/domain/restaurant/dto/restaurant/response/RestaurantDetailResDto.java
  src/main/java/com/wanted/domain/restaurant/dto/restaurant/response/RestaurantRecomResDto.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/test/java/com/wanted/domain/restaurant/api/RestaurantControllerTest.java
  src/test/java/com/wanted/domain/restaurant/api/location/LocationControllerTest.java
  src/test/java/com/wanted/domain/restaurant/dao/RestaurantRepositoryTest.java
Labels: ✨ Feature, 📬 API

#33 Feature/#29 평가 작성 및 조회 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/review.adoc
  src/main/java/com/wanted/domain/auth/application/AuthService.java
  src/main/java/com/wanted/domain/member/dto/request/MemberLocationUpdateReqDto.java
  src/main/java/com/wanted/domain/member/entity/Member.java
  src/main/java/com/wanted/domain/restaurant/entity/Restaurant.java
  src/main/java/com/wanted/domain/review/api/ReviewController.java
  src/main/java/com/wanted/domain/review/application/ReviewService.java
  src/main/java/com/wanted/domain/review/dao/ReviewRepository.java
  src/main/java/com/wanted/domain/review/dto/request/ReviewWriteReqDto.java
  src/main/java/com/wanted/domain/review/dto/response/ReviewResDto.java
  src/main/java/com/wanted/domain/review/dto/response/ReviewsInRestaurantResDto.java
  src/main/java/com/wanted/domain/review/entity/Review.java
  src/main/java/com/wanted/global/annotation/valid/review/ScoreValueValidator.java
  src/main/java/com/wanted/global/annotation/valid/review/ValidScoreValue.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/java/com/wanted/global/error/ExceptionAdvice.java
  src/main/resources/application.yml
  src/main/resources/static/index.html
  src/test/java/com/wanted/domain/review/ReviewTestHelper.java
  src/test/java/com/wanted/domain/review/api/ReviewControllerTest.java
Labels: ✨ Feature, 📬 API

#36 Test/#35 맛집 조회 테스트 제거 및 서식 수정
  src/main/java/com/wanted/domain/restaurant/api/RestaurantController.java
  src/main/java/com/wanted/domain/restaurant/api/location/LocationController.java
  src/main/java/com/wanted/domain/restaurant/application/RestaurantService.java
  src/main/java/com/wanted/domain/restaurant/application/location/LocationService.java
  src/main/java/com/wanted/domain/restaurant/dto/restaurant/response/RestaurantDetailResDto.java
  src/main/java/com/wanted/domain/restaurant/dto/restaurant/response/RestaurantRecomResDto.java
  src/test/java/com/wanted/domain/restaurant/api/RestaurantControllerTest.java
  src/test/java/com/wanted/domain/restaurant/api/location/LocationControllerTest.java
  src/test/java/com/wanted/domain/restaurant/dao/RestaurantRepositoryTest.java
Labels: ✅ Test

#37 Feature/#34 평가 수정 및 삭제 기능 구현
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/member.adoc
  src/docs/asciidoc/restaurant.adoc
  src/docs/asciidoc/review.adoc
  src/main/java/com/wanted/domain/member/entity/Member.java
  src/main/java/com/wanted/domain/restaurant/entity/Restaurant.java
  src/main/java/com/wanted/domain/review/api/ReviewController.java
  src/main/java/com/wanted/domain/review/application/ReviewService.java
  src/main/java/com/wanted/domain/review/dto/request/ReviewWriteReqDto.java
  src/main/java/com/wanted/domain/review/entity/Review.java
  src/main/java/com/wanted/global/error/ErrorCode.java
  src/main/resources/static/index.html
  src/test/java/com/wanted/domain/review/api/ReviewControllerTest.java
Labels: ✨ Feature, 📬 API

#18 Docs/#17 READMD.md 11/4일까지 진행상황 포함한 초안 작성
  README.md
Labels: 📃 Docs

#39 fix: 스케쥴러 어노테이션 적용
  src/main/java/com/wanted/GeoRecommendEatsApplication.java
Labels: 🐞 BugFix
